{% extends 'generator/base.html' %}


{% block heading %}
    <title>Password Generate Page</title>
{% endblock heading %}

{% block content %}
    <div class="container mt-5 ">
        <div class="jumbotron text-center">
            <h1>Password Generator</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title">Generated Password:</h4>
                        <p class="card-text text-success fs-23" id="generated-password">{{ generate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

