{% extends 'generator/base.html' %}


{% block heading %}
    <title>Password Generate Page</title>
{% endblock heading %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4">
        <h2 class="text-center mb-4 bg-white mx-auto" style="width: 300px;">Generated Password:</h2>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            {% for char in generate %}
                <div class="d-flex justify-content-center align-items-center border rounded p-2 m-1 shadow-lg mb-5 bg-white" style="width: 40px; height: 60px;">
                    <h4 class="m-0">{{ char }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
            <input type="text" class="p-2 m-1 shadow-lg mb-5 " value="{{ generate }}" id="myInput" style="width: 220px; height: 60px;">
            <button onclick="myFunction()" type="button" class="p-2 m-1 shadow-lg mb-5 bg-white" style="width: 200px; height: 60px;">Copy Password</button>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <input type="text" class="p-2 m-1 shadow-lg mb-5 " value="Current route: {{ route }}" style="width: 220px; height: 60px;">
        <button onClick="window.location.reload();" class="p-2 m-1 shadow-lg mb-5 bg-white" style="width: 200px; height: 60px;">New Password</button>
    </div>
    <div class="d-flex justify-content-center mb-3">
    <a href="{% url 'easy_password' %}?difficulty=easy" class="btn p-2 m-1 shadow-lg mb-5 mx-2 bg-white" style="font-family: 'Damion', cursive; font-size: larger">Easy</a>
    <a href="{% url 'medium_password' %}?difficulty=medium" class="btn p-2 m-1 shadow-lg mb-5 mx-2 bg-white" style="font-family: 'Damion', cursive; font-size: larger">Medium</a>
    <a href="{% url 'hard_password' %}?difficulty=hard" class="btn p-2 m-1 shadow-lg mb-5 mx-2 bg-white" style="font-family: 'Damion', cursive; font-size: larger">Hard</a>
    </div>
</div>

{% endblock content %}

